<div class="pull-left avatar">
	<img src="/images/avatar2.jpg">
    <ul class="list-unstyled">
    	<li>
    		<i class="fa fa-user"></i>
    		<a href="mailto:ross@kndr.org">Ross Kinder</a></li>
    	<li>
    		<i class="fa fa-envelope"></i>
    		<a href="mailto:ross@kndr.org">ross@kndr.org</a></li>
    	<li>
    		<i class="fa fa-twitter"></i>
    		<a href="http://twitter.com/crewjam">@crewjam</a></li>
      	<li>
      		<i class="fa fa-github"></i>
      		<a href="http://github.com/crewjam">crewjam</a></li>
    </ul>
</div>